@import '../../index.scss';

.button{
  width: 10vw;
  height: 2rem;
  border-radius: 5px;
  text-align: center;
  color: $textLight;
  background-color: $redUnilingo;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 10px;
  margin-left: 1rem;
  transition: background 0.1s ease-in-out;
  &:hover{
    background-color: $darkRed;
  }
}
#ShowAllCommentsButton{
  height: 4rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .button {
    width: 25vw;
  }
  #ShowAllCommentsButton{
    margin-bottom: 6rem;
  }
}