@import '../../index.scss';

.searchBarTitle{
  text-align: center;
}
.searchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__input {
    text-align: center;
    width: 30vw;
    margin: 1rem 0;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 2rem;
    background-color: $textSoft;
  }
}

@media screen and (max-width: 800px) {
  .searchBarTitle{
    font-size: 1rem;
    margin: 2rem;
  }
  .searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .searchBar__container {
    flex-direction: row;
  }
}
