@import '../../index.scss';

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $bgMain;

  .unilingo__logo{
    margin: 1rem;
    width: 150px;
    height: 60px;
  }
  .div__counter{
    color: $textLight;
    text-decoration: none;
    font-size: smaller;
    font-weight: bolder;
    margin-right: 1rem;
  }
}
