@import '../../index.scss';

.title{
  text-align: center;
  &__title{
    font-weight: bolder;
    color: $bgMain;
  }
  &__subtitle{
    font-style: italic;
  }
}

@media screen and (max-width: 800px) {
  .title {
    &__subtitle{
      font-size: medium;
      margin: 0 1rem;
    }
  }
}