@import '../../index.scss';


.card {
  margin: 5rem auto 10rem auto;
  border: none;
  border-radius: 0.5rem;
  color: $bgMain;
  background-color: $textSoft;
  box-shadow: 3px 3px 2px 1px #292F40;
  padding: 10px;
  width: 30rem;
  text-align: center;
  &__title{
    font-weight: bolder;
    font-size: x-large;
  }
  &__comment{
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 800px) {
  .card {
    margin-top: 2rem;
    margin-bottom: 10rem;
    width: 20rem;
  }
}